@page
@model ManageContractsModel
@{
    ViewData["Title"] = "Manage Contracts";
}
<h1>@ViewData["Title"]</h1>

<p>You will be able to manage your contracts here after logging in.<br/>
    This includes loading, viewing, updating and deleting them.</p>