@page
@model ManageServerModel
@{
    ViewData["Title"] = "Manage Server";
}
<h1>@ViewData["Title"]</h1>

<p>You will be able to manage your server here after logging in.<br/>
    This includes shutting it down, managing users (if logged in as admin), and adjusting additional settings.</p>